body, html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  text-align: center;
}

.container {
  background: url(bgb.jpeg) center no-repeat;
  background-size: cover;
  height: 100vh;
}
.container .text {
  font-weight: 800;
  font-size: 150px;
  padding-top: .5em;
  background: url(bt.png) center no-repeat;
  background-size: 120%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-transition: 3s ease-in-out;
  transition: 3s ease-in-out;
}
.container .text:hover {
  background-size: 80%;
}
