body, html{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-align: center;  
}
// mobile version

.container{
    background: url(bg.jpeg) center no-repeat;
    background-size: cover;
    height: 100vh;

    .text{
        font-weight: 600;
        font-size: 4em;
        padding-top: 1em;
        background: url(bgt.png) center no-repeat;
        background-size: 290%;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        transition: 3s ease-in-out;
    }

    .text:hover{
        background-size: 190%;
    }
}

// Desktop

@media (min-width: 800px){
    .container{
        .text{
            font-weight: 800;
            font-size: 150px;
            padding-top: .5em;
            background-size: 120%;
        }
        .text:hover{
            background-size: 80%;
        }
    }
}

